# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmplot
Icon=kmplot
X-DocPath=kmplot/index.html
Comment=Function Plotter
Comment[af]=Funksieplotter
Comment[be]=Маляванне графікаў функцый
Comment[bg]=Чертане на функции
Comment[bn]=ফাংশন প্লটার
Comment[br]=Tresell fonksion
Comment[ca]=Traçador de funcions
Comment[ca@valencia]=Traçador de funcions
Comment[cs]=Souřadnicový zapisovač funkcí
Comment[csb]=Programa do céchòwaniô grafów
Comment[cy]=Plotydd Ffwythiannau
Comment[da]=Funktionsplotter
Comment[de]=Funktionsplotter
Comment[el]=Γραφική αναπαράσταση συναρτήσεων
Comment[en_GB]=Function Plotter
Comment[eo]=Desegnilo de funkcioj
Comment[es]=Trazador de funciones
Comment[et]=Funktsioonide graafiku joonistaja
Comment[eu]=Funtzio-marrazkigilea
Comment[fa]=رسام تابع
Comment[fi]=Kuvaajapiirturi
Comment[fr]=Traceur de courbes
Comment[ga]=Breacaire Feidhmeanna
Comment[gl]=Representación gráfica de funcións
Comment[gu]=વિધેય આલેખનાર
Comment[he]=תווין פונקציות
Comment[hi]=फंक्शन प्लॉट करने वाला
Comment[hne]=फंक्सन प्लाट करइया
Comment[hr]=Crtač funkcija
Comment[hu]=Függvényábrázoló
Comment[is]=Teiknar gröf falla
Comment[it]=Grafici di funzioni
Comment[ja]=関数プロッタ
Comment[ka]=ფუნქციების გრაფიკები
Comment[km]=កម្មវិធី​គ្រោង​អនុគមន៍
Comment[ko]=함수 플로터
Comment[lt]=Funkcijų braižytuvas
Comment[lv]=Funkciju zīmētājs
Comment[mk]=Цртач на функции
Comment[ml]=ഫങ്ഷന്‍ പ്ലോട്ടര്‍
Comment[ms]=Plot Fungsi
Comment[nb]=Funksjonsplotter
Comment[nds]=Bagenschriever för Funkschonen
Comment[ne]=प्रकार्य आलेखक
Comment[nl]=Functieplotter
Comment[nn]=Funksjonsplottar
Comment[pa]=ਭਿੰਨ ਵਾਹੋ
Comment[pl]=Program rysujący wykresy funkcji
Comment[pt]=Desenho de funções
Comment[pt_BR]=Visualizador de funções
Comment[ru]=Построение графиков функций
Comment[se]=Funkšuvdnasárgojeaddji
Comment[sk]=Kreslenie funkcií
Comment[sl]=Risanje funkcij
Comment[sv]=Funktionsritare
Comment[ta]=இயக்க வரைவி
Comment[tg]=Плоттери Функсионалӣ
Comment[tr]=Fonksiyon Çizici
Comment[uk]=Побудова графіків функцій
Comment[vi]=Vẽ đồ thị Hàm số
Comment[xh]=Umzobi Womsebenzi
Comment[x-test]=xxFunction Plotterxx
Comment[zh_CN]=函数绘图程序
Comment[zh_TW]=函數繪圖程式
Terminal=false
Name=KmPlot
Name[af]=KmPlot
Name[be]=KmPlot
Name[bg]=KmPlot
Name[bn]=কে-এমপ্লট
Name[br]=KmPlot
Name[ca]=KmPlot
Name[ca@valencia]=KmPlot
Name[cs]=KmPlot
Name[csb]=KmPlot
Name[cy]=KmPlot
Name[da]=KmPlot
Name[de]=KmPlot
Name[el]=KmPlot
Name[en_GB]=KmPlot
Name[eo]=KmPlot
Name[es]=KmPlot
Name[et]=KmPlot
Name[eu]=KmPlot
Name[fi]=KmPlot
Name[fr]=KmPlot
Name[ga]=KmPlot
Name[gl]=KmPlot
Name[gu]=KmPlot
Name[he]=KmPlot
Name[hi]=के-एम-प्लॉट
Name[hne]=के-एम-प्लाट
Name[hr]=KmPlot
Name[hu]=KmPlot
Name[is]=KmPlot
Name[it]=KmPlot
Name[ja]=KmPlot
Name[ka]=KmPlot
Name[km]=KmPlot
Name[ko]=KmPlot
Name[lt]=KmPlot
Name[lv]=KmPlot
Name[mk]=KmPlot
Name[ml]=കെഎംപ്ലോട്ട്
Name[ms]=KmPlot
Name[nb]=KmPlot
Name[nds]=KmPlot
Name[ne]=KmPlot
Name[nl]=KmPlot
Name[nn]=KmPlot
Name[pl]=KmPlot
Name[pt]=KmPlot
Name[pt_BR]=KmPlot
Name[ro]=KmPlot
Name[ru]=KmPlot
Name[se]=KmPlot
Name[sk]=KmPlot
Name[sl]=KmPlot
Name[sv]=Kmplot
Name[ta]=கேஎம்பிளாட்
Name[tg]=KmPlot
Name[tr]=KmPlot
Name[uk]=KmPlot
Name[vi]=Đồ thị K
Name[xh]=KmPlot
Name[x-test]=xxKmPlotxx
Name[zh_CN]=KmPlot
Name[zh_TW]=KmPlot
Categories=Qt;KDE;Education;Math;
MimeType=application/x-kmplot;
GenericName=Mathematical Function Plotter
GenericName[be]=Маляванне графікаў матэматычных функцый
GenericName[bg]=Интерактивна геометрия
GenericName[bn]=গাণিতিক ফাংশন প্লটার
GenericName[ca]=Traçador de funcions matemàtiques
GenericName[ca@valencia]=Traçador de funcions matemàtiques
GenericName[cs]=Matematický souřadnicový zapisovač funkcí
GenericName[csb]=Programa do céchòwaniô matematiczëch grafów
GenericName[cy]=Plotydd Ffwythiannau Mathemategol
GenericName[da]=Matematisk funktionsplotter
GenericName[de]=Mathematischer Funktionsplotter
GenericName[el]=Γραφική αναπαράσταση συναρτήσεων
GenericName[en_GB]=Mathematical Function Plotter
GenericName[eo]=Desegnilo de matematikaj funkcioj
GenericName[es]=Trazador de funciones matemáticas
GenericName[et]=Matemaatiliste funktsioonide graafiku joonistaja
GenericName[eu]=Funtzio matematikoen marrazkigilea
GenericName[fa]=رسام تابع ریاضی
GenericName[fi]=Matemaattisten funktioiden kuvaajapiirturi
GenericName[fr]=Traceur de fonctions mathématiques
GenericName[ga]=Breacaire Feidhmeanna Matamaiticiúla
GenericName[gl]=Representación gráfica de funcións
GenericName[gu]=ગાણિતીય વિધેય આલેખનાર
GenericName[he]=תוין פונקציות מתמטיות
GenericName[hi]=गणितीय फंक्शन प्लॉटर
GenericName[hne]=गनितीय फंक्सन प्लाटर
GenericName[hr]=Crtač matematičkih funkcija
GenericName[hu]=Függvényábrázoló
GenericName[is]=Teiknar gröf falla
GenericName[it]=Grafici di funzioni matematiche
GenericName[ja]=数学関数プロッタ
GenericName[ka]=მათიმატიკური ფუნქციების გრაფიკები
GenericName[km]=កម្មវិធី​គ្រោង​អនុគមន៍​គណិតវិទ្យា
GenericName[ko]=수학 함수 플로터
GenericName[lt]=Matematinių funkcijų braižytuvas
GenericName[lv]=Matemātisko funkciju zīmētājs
GenericName[ml]=ഗണിത ഫങ്ഷന്‍ പ്ലോട്ടര്‍
GenericName[nb]=Matematisk funksjonsplotter
GenericName[nds]=Mathemaatsch Bagenschriever
GenericName[ne]=गणितिय प्रकार्य आलेखक
GenericName[nl]=Wiskundige functieplotter
GenericName[nn]=Eit plotteprogram for matematiske funksjonar
GenericName[pa]=ਗਣਿਤ ਭਿੰਨ ਪਲੋਟਰ
GenericName[pl]=Program rysujący funkcje matematyczne
GenericName[pt]=Desenho de Funções Matemáticas
GenericName[pt_BR]=Visualizador de função matemáticas
GenericName[ru]=Графопостроитель математических функций
GenericName[sk]=Kreslenie matematických funkcií
GenericName[sl]=Risanje matematičnih funkcij
GenericName[sv]=Matematisk funktionsritare
GenericName[ta]=கணக்கியல் இயக்க வரைவி
GenericName[tr]=Matematiksel Fonksiyon Çizici
GenericName[uk]=Графобудівник математичних функцій
GenericName[vi]=Vẽ đồ thị Hàm số Toán học
GenericName[x-test]=xxMathematical Function Plotterxx
GenericName[zh_CN]=数学函数绘图器
GenericName[zh_TW]=函數繪圖程式
