[Desktop Entry]
Name=KNOPPIX-Math-Start
Version=1.0
Comment=Open the KNOPPIX/Math starting page.
Comment[fr]=
Exec=km-start.sh
Icon=knxm-penguin
Type=Application
Categories=Math;
Encoding=UTF-8
