[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=3D-XplorMath-J
GenericName=
Comment=
Icon=3D-XplorMath.xpm
Exec=3D-XplorMath-J
Terminal=false
Categories=Math;
