[Desktop Entry]
Encoding=UTF-8
Name=CaRMetal
Comment=CaRMetal interactive geometry
Exec=carmetal
Icon=CaRMetal.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Education;Math;
MimeType=application/x-carmetal