[Desktop Entry]
Name=Groebner dojo
Name[ja]=グレブナー 道場
Comment=Groebner dojo
Comment[ja]=グレブナー道場
Icon=gureko-bunao
Type=Application
Categories=Math;
Encoding=UTF-8
URL=http://www.math.kobe-u.ac.jp/OpenXM/Math/dojo/
Exec=/usr/bin/chromium http://www.math.kobe-u.ac.jp/OpenXM/Math/dojo/
