[Desktop Entry]
Encoding=UTF-8
Name=Dr.Geo
Name[ca]=Dr.Geo
Name[cs]=Dr.Geo
Name[da]=Dr Geo
Name[de]=Dr. Geo
Name[en_CA]=Dr.Geo
Name[en_GB]=Dr.Geo
Name[es]=Dr.Geo
Name[eu]=Dr.Geo
Name[fr]=Dr Geo
Name[ga]=Dr. Geo
Name[gu]=ડો. જીઓ
Name[hi]=डॉ जिओ
Name[hr]=Dr.Geo
Name[hu]=Dr.Geo
Name[it]=Dr. Geo
Name[ja]=Dr.Geo
Name[mr]=डॉ.जिओ
Name[nb]=Dr Geo
Name[ne]=ड्र. गियो
Name[nl]=Dr. Geo
Name[no]=Dr Geo
Name[pl]=Dr Geo
Name[pt]=Dr.Geo
Name[pt_BR]=Dr.Geo
Name[sq]=Dr.Geo
Name[sr]=др Гео
Name[sr@Latn]=dr Geo
Name[sv]=Dr.Geo
Name[zh_CN]=Dr.Geo
Name[zh_TW]=Dr.Geo
Comment=Dr.Geo Math Tool
Comment[ca]=Eina matemàtica del Dr. Geo
Comment[cs]=Nástroj pro matematiku Dr.Geo
Comment[da]=Matematikværktøjet Dr.Geo
Comment[de]=Interaktives Geometrieprogramm
Comment[en_CA]=Dr.Geo Math Tool
Comment[en_GB]=Dr.Geo Math Tool
Comment[es]=Herramienta Matemática  de Dr. Geo
Comment[eu]=Dr.Geo-ren matematika-tresna
Comment[fr]=Outil mathématique Dr. Geo
Comment[ga]=Uirlís Math. Dr. Geo
Comment[gu]=ડો. જીઓ ગણિતશાસ્ત્ર નુ સાધન 
Comment[hi]=डॉ जिओ गणित यन्त्र
Comment[hr]=Dr.Geo Math Tool
Comment[hu]=Dr.Geo interaktív geometria
Comment[it]=Strumenti matematici di Dr. Geo
Comment[ja]=Dr.Geo 数学ツール
Comment[mr]=डॉ जिओचे गणिताचे साधन
Comment[nb]=Dr.Geo matematikkverktøy
Comment[ne]=ड्र.गियो हिसाब उपकरण
Comment[nl]=Dr.Geo Math Tool
Comment[no]=Dr.Geo matematikkverktøy
Comment[pl]=Narzędzie matematyczne Dr Geo
Comment[pt]=Ferramenta Matemática Dr.Geo
Comment[pt_BR]=Ferramenta Matemática do Dr.Geo
Comment[sq]=Dr.Geo - Instrument për Matematikën
Comment[sr]=Математички алат др Гео
Comment[sr@Latn]=Matematički alat dr Geo
Comment[sv]=Matteverktyget Dr.Geo
Comment[zh_CN]=Dr.Geo 数学软件
Comment[zh_TW]=Dr.Geo 數學工具
Exec=drgeo
Icon=drgeo.xpm
Terminal=false
StartupNotify=true
Type=Application
Categories=Math;
