[Desktop Entry]
Name=Kig
Name[af]=Kig
Name[be]=Kig
Name[bg]=Kig
Name[bn]=কিগ
Name[br]=Kig
Name[ca]=Kig
Name[ca@valencia]=Kig
Name[cs]=Kig
Name[csb]=Kig
Name[cy]=Kig
Name[da]=Kig
Name[de]=Kig
Name[el]=Kig
Name[en_GB]=Kig
Name[eo]=Kig
Name[es]=Kig
Name[et]=Kig
Name[eu]=Kig
Name[fi]=Kig
Name[fr]=Kig
Name[ga]=Kig
Name[gl]=Kig
Name[gu]=Kig
Name[he]=Kig
Name[hi]=केआईजी
Name[hne]=केआईजी
Name[hr]=Kig
Name[hu]=Kig
Name[is]=Kig
Name[it]=Kig
Name[ja]=Kig
Name[ka]=Kig
Name[km]=Kig
Name[ko]=Kig
Name[lt]=Kig
Name[lv]=Kig
Name[ml]=കിഗ്
Name[ms]=Kig
Name[nb]=Kig
Name[nds]=Kig
Name[ne]=किग
Name[nl]=Kig
Name[nn]=Kig
Name[pa]=ਕਿਗ
Name[pl]=Kig
Name[pt]=Kig
Name[pt_BR]=Kig
Name[ro]=Kig
Name[ru]=Kig
Name[sk]=Kig
Name[sl]=Kig
Name[sv]=Kig
Name[ta]=கிக்
Name[tg]=Kig
Name[tr]=Kig
Name[uk]=Kig
Name[vi]=Kig
Name[xh]=Kig
Name[x-test]=xxKigxx
Name[zh_CN]=Kig
Name[zh_TW]=Kig
GenericName=Interactive Geometry
GenericName[af]=Interaktiewe Meetkunde
GenericName[be]=Інтэрактыўная геаметрыя
GenericName[bg]=Интерактивна геометрия
GenericName[bn]=ইন্টারঅ্যাকটিভ জ্যামিতি
GenericName[ca]=Geometria interactiva
GenericName[ca@valencia]=Geometria interactiva
GenericName[cs]=Interaktivní geometrie
GenericName[csb]=Interaktiwnô geòmétriô
GenericName[cy]=Geometreg Rhyngweithiol
GenericName[da]=Interaktiv geometri
GenericName[de]=Interaktive Geometrie
GenericName[el]=Aλληλεπιδραστική γεωμετρία
GenericName[en_GB]=Interactive Geometry
GenericName[eo]=Interagebla geometrio
GenericName[es]=Geometría interactiva
GenericName[et]=Interaktiivne geomeetria
GenericName[eu]=Geometria interaktiboa
GenericName[fa]=هندسۀ تعاملی
GenericName[fi]=Vuorovaikutteinen geometria
GenericName[fr]=Géométrie interactive
GenericName[ga]=Céimseata Idirghníomhach
GenericName[gl]=Xeometría interactiva
GenericName[gu]=સક્રિય ભૂમિતિ
GenericName[he]=גאומטריה אינטראקטיבית
GenericName[hi]=इंटरएक्टिव ज्यॉमिती
GenericName[hne]=इंटरएक्टिव ज्यामिती
GenericName[hr]=Interaktivna geometrija
GenericName[hu]=Interaktív geometria
GenericName[is]=Gagnvirk rúmfræði
GenericName[it]=Geometria interattiva
GenericName[ja]=幾何学との対話
GenericName[ka]=ინტერაქტიური გეომეტრია
GenericName[km]=ធរណីមាត្រ​អន្តរកម្ម
GenericName[ko]=인터랙티브 기하학
GenericName[lt]=Interaktyvi geometrija
GenericName[lv]=Interaktīvā ģeometrija
GenericName[ml]=ഇന്ററാക്ടീവ് ജ്യാമിതി
GenericName[nb]=Interaktiv geometri
GenericName[nds]=Wesselwarken Geometrie
GenericName[ne]=अन्तरक्रियात्मक ज्यामिति
GenericName[nl]=Interactieve meetkunde
GenericName[nn]=Interaktiv geometri
GenericName[pa]=ਦਿਲਸਚਪ ਜੁਮੈਟਰੀ
GenericName[pl]=Interaktywna geometria
GenericName[pt]=Geometria Interactiva
GenericName[pt_BR]=Geometria interativa
GenericName[ro]=Geometrie interactivă
GenericName[ru]=Интерактивная геометрия
GenericName[sk]=Interaktívna geometria
GenericName[sl]=Interaktivna geometrija
GenericName[sv]=Interaktiv geometri
GenericName[ta]= ஊடாடும் வடிவியல்
GenericName[tg]=Геометрияи интерактивӣ
GenericName[tr]=Etkileşimli Geometri
GenericName[uk]=Інтерактивна геометрія
GenericName[vi]=Hình học Tương tác
GenericName[xh]=Umyili Wesiboniso Esingaphakathi
GenericName[x-test]=xxInteractive Geometryxx
GenericName[zh_CN]=交互几何
GenericName[zh_TW]=交互式幾何作圖
Comment=Explore Geometric Constructions
Comment[be]=Вывучэнне геаметрычных фігур
Comment[bg]=Геометрични конструкции
Comment[bn]=জ্যামিতি ছবি আঁকা চর্চা করুন
Comment[ca]=Explora construccions geomètriques
Comment[ca@valencia]=Explora construccions geomètriques
Comment[cs]=Objevujte geometrické konstrukce
Comment[csb]=Zabôwa geòmetricznëma kònstrukcjama
Comment[da]=Udforsk geometriske konstruktioner
Comment[de]=Geometrische Konstruktionen untersuchen
Comment[el]=Εξερεύνηση γεωμετρικών κατασκευών
Comment[en_GB]=Explore Geometric Constructions
Comment[eo]=Esploru la geometriajn konstruaĵojn
Comment[es]=Exploración de construcciones geométricas
Comment[et]=Geomeetriliste kujundite tundmaõppimine
Comment[eu]=Arakatu geometria egiturak
Comment[fa]=کاوش ساختارهای هندسی
Comment[fi]=Tutki geometrisia rakenteita
Comment[fr]=Explorer les constructions géométriques
Comment[ga]=Taiscéal Tógálacha Céimseatúla
Comment[gl]=Explora as figuras xeométricas
Comment[gu]=ભૂમિતિ આકારોને ઓળખો
Comment[he]=חקור מבנים גאומטריים
Comment[hi]=ज्यामितीय कंस्ट्रक्शन एक्सप्लोर करें
Comment[hne]=ज्यामितीय कंस्ट्रक्सन एक्सप्लोर करव
Comment[hr]=Istražite geometrijske konstrukcije
Comment[hu]=Geometriai oktatóprogram
Comment[is]=Skoða rúmfræðilega byggingu
Comment[it]=Esplora le costruzioni geometriche
Comment[ja]=幾何学との対話
Comment[ka]=გეომეტრიულ ფიგურათა შესწავლა
Comment[km]=រុករក​សំណង់​ធរណីមាត្រ
Comment[ko]=기하학 탐구하기
Comment[lt]=Geometrinių konstrukcijų tyrinėjimas
Comment[lv]=Iepazīstiet ģeometriskās figūras
Comment[ml]=ജ്യാമിതീയ നിര്‍മ്മിതികള്‍ കണ്ടുപഠിക്കുക
Comment[nb]=Utforsk geometriske konstruksjoner
Comment[nds]=Geometersch Konstrukschonen bekieken
Comment[ne]=ज्यामिति बनावट अन्वेषण गर्नुहोस्
Comment[nl]=Meetkundige constructies verkennen
Comment[nn]=Utforsk geometriske konstruksjonar
Comment[pa]=ਜੁਮੈਟਰੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Zabawa konstrukcjami geometrycznymi
Comment[pt]=Explorar Construções Geométricas
Comment[pt_BR]=Explorar construções geométricas
Comment[ro]=Explorează construcții geometrice
Comment[ru]=Работа с геометрическими построениями
Comment[sk]=Prieskum geometrických konštrukcií
Comment[sl]=Raziskovanje geometrijskih konstrukcij
Comment[sv]=Utforska geometriska konstruktioner
Comment[tr]=Geometrik Yapıları Keşfet
Comment[uk]=Дослідження геометричних конструкцій
Comment[vi]=Khám phá các phép Dụng Hình học
Comment[x-test]=xxExplore Geometric Constructionsxx
Comment[zh_CN]=探索几何构造
Comment[zh_TW]=作出幾何圖形
Exec=kig %i -caption "%c"
MimeType=application/x-kig;application/x-kgeo;
Icon=kig
Type=Application
X-DocPath=kig/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;
