[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KSeg
Comment=Sketchpad for planar Euclidean geometry
Exec=/usr/local/bin/kseg
Icon=kseg
Type=Application
Terminal=false
Categories=Math;
