[Desktop Entry]
Name=GNU Octave
Comment=Scientific Computing using GNU Octave
#TryExec=/usr/bin/octave-3.2.4
Exec=gnome-terminal -e octave-3.2.4
Icon=/usr/share/octave/3.2.4/imagelib/octave-sombrero.png
#Terminal=true
Type=Application
Categories=Development;Math;Science;
StartupNotify=false
X-Desktop-File-Install-Version=0.15
