[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Processing
GenericName=
Comment=
Icon=processing.xpm
Exec=processing
Terminal=false
Categories=Math;Development;
