[Desktop Entry]
Name=Scratch
Comment= Programming system and content development tool
Exec=scratch
Terminal=false
Type=Application
Icon=scratch1
Categories=Math;Development;
MimeType=application/x-scratch-project
