[Desktop Entry]
Version=1.0
Name=GNU TeXmacs Editor
GenericName=TeXmacs Editor
Comment=A structured wysiwyg scientific text editor
MimeType=text/texmacs;text/english;text/plain;text/x-tex;
Exec=texmacs %f
Icon=TeXmacs
Type=Application
Terminal=false
Categories=Math;Office;
