[Desktop Entry]
Name=GNU Octave
Comment=Scientific Computing using GNU Octave
TryExec=/usr/bin/octave
Exec=/usr/bin/octave --force-gui %f
Icon=/usr/share/octave/4.0.3/imagelib/octave-logo.svg
Terminal=false
Type=Application
Categories=Education;Science;Math;
StartupNotify=false
MimeType=text/x-octave;text/x-matlab;
Keywords=science;math;matrix;numerical computation;plotting;
X-Desktop-File-Install-Version=0.23
