[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Yorick
Comment=interpreted language and scientific graphics
Exec=gnome-terminal -e yorick
Icon=yorick
Type=Application
Terminal=false
Categories=Math;
