*.buildlog
*.img
*.iso
*.list
*.log
*.md5sum
*.packages
*.zsync
*~
.*~
.build/
.lock
.stage/
binary.contents
binary.hybrid.iso.ls-l
binary/
cache/
chroot.packages.install
chroot.packages.live
chroot/
config/binary
config/bootstrap
config/chroot
config/common
config/source
config/includes.chroot/usr/local/sage-?.?
