*.buildlog
*.img
*.iso
*.list
*.log
*.md5sum
*.packages
*.zsync
*~
.*~
.build/
.lock
.stage/
binary.contents
iso.ls-l
binary/
cache/
chroot.packages.install
chroot.packages.live
chroot/
config/binary
config/bootstrap
config/chroot
config/common
config/includes.chroot/usr/local/sage-?.?
config/includes.chroot/etc/emacs/site-start.d/99lang.*.el
config/includes.chroot/etc/skel/.kseg
config/package-lists/lang.*.list.chroot
config/source
