*.buildlog
*.img
*.iso
*.list
*.md5sum
*.packages
*~
.*~
.stage/
binary/
cache/
chroot/
config/binary
config/bootstrap
config/chroot
config/common
config/source
config/includes.chroot/usr/local/sage
config/includes.chroot/usr/local/sage-?.?
