[Desktop Entry]
Type=Application
Name=GeoGebra
GenericName=
Comment=
Icon=geogebra
Exec=geogebra
Terminal=false
MimeType=application/x-ggb;
Categories=Math;
