[Desktop Entry]
Version=1.0
Name=KSeg
Comment=Sketchpad for planar Euclidean geometry
Exec=kseg
Icon=kseg
Type=Application
Terminal=false
Categories=Math;
