[Desktop Entry]
Name=GNU PSPP
GenericName=Statistical Software
GenericName[de]=Statistiksoftware
Comment=Analyze statistical data with a free alternative to SPSS
Comment[de]= Statistische Daten mit einer freien Alternative zu SPSS analysieren
Exec=psppire %F
TryExec=psppire
Icon=pspp.png
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;Education;Science;Math;
