[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=pXDvi
GenericName=
Comment=
Icon=
Exec=/opt/ptexlive/bin/i686-pc-linux-gnu/pxdvi
Terminal=false
Categories=Graphics;Viewer;
