[Desktop Entry]
Name=Singular
Comment=run Singular in Emacs
Exec=ESingular --browser=firefox
#Terminal=true
Icon=singular
Type=Application
Categories=Math;
