[Desktop Entry]
Name=Xaos - Fractal Zoomer
Comment=Fractal Generator
Exec=/usr/bin/xaos -driver x11
Icon=xaos.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Math;
StartupNotify=true
