[Desktop Entry]
Name=Keyboard Layout
Name[ja]=キーボード レイアウト
Comment=Chanege keyboard layout
Comment[ja]=キーボードレイアウトを変更します
Exec=setxkbmap-gadget
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;HardwareSettings;

